<a href="https://colab.research.google.com/github/Anupama598-ui/doctor/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
round(1.68,1)

1.7

In [11]:
def my_function():
  print("Hello From My Function!")
my_function()

Hello From My Function!

In [13]:
def square(n):
  '''This function calculates the square of a given number'''
  res = n *n
  print("square(",n,") = " , res)
num = int(input("Enter a number"))
square(num)

Enter a number2
square( 2 ) =  4

In [14]:
def square(n):
  res = n * n
  return res
num = int(input("Enter a Number"))
res = square(num)
print("Square of",num,"=",res)

Enter a Number5
Square of 5 = 25

In [18]:
def add(a , b):
  total = a + b
  print('Total = ' , total)
add(4 , 9)

Total =  13

In [22]:
total = 0
def add(a , b):
  global total
  total = a + b
  print('Inside add Total = ' , total)
add(4 , 9)
print('Main Block Total = ' , total)

Inside add Total =  13
Main Block Total =  13

In [23]:
def calculateTotal(amount , discountPercentage = 0):
  discountAmount = discountPercentage / 100 * amount
  return amount - discountAmount
amount = 500
totalBillAmount = calculateTotal(amount , 10)
print(totalBillAmount)
amount = 500
totalBillAmount = calculateTotal(amount)
print(totalBillAmount)

450.0
500.0

In [26]:
def fun(a,b,c):
  print("a = " , a)
  print("b = " , b)
  print("c = " , c)
fun(5,10,15)

a =  5
b =  10
c =  15

In [29]:
def mymax(a,*b):
  small = a
  for ele in b:
      if ele < small:
          small = ele
  return small
print(mymax(4,5,7,3,1,8,2,))

1

In [30]:
def multiply(x , y):
  return x * y
a = 4
b = 7
operation = multiply
print(operation(a,b))

28

In [35]:
def add(a,b):
  print("Add")
  return a + b
def sub(a,b):
  print("Sub")
  return a - b
def mul(a,b):
  print("Multiply")
  return a * b
def div(a,b):
  print("Divide")
  return a / b
print("Arithmetic Operations ")
print("Enter Two Numbers ")
a = int(input())
b = int(input())
print("1.Add 2.Sub 3.Multiply 4.Divide")
ch = int(input())
if ch == 1:
  calculate = add
elif ch == 2:
  calculate = sub
elif ch == 3:
  calculate = mul
else:
  calculate = div
res = calculate(a, b)
print(res)

Arithmetic Operations
Enter Two Numbers
2
3
1.Add 2.Sub 3.Multiply 4.Divide
1
Add
5

In [39]:
print("Welcome to Hotel TAJ")
print("1.Idly   - 10/-/n 2.Dosa   - 50/-/n 3.Puri   -20/-\n 4.vada   -25/-")
ch=int(input("enter the order="))
q=int(input("enter the quantity="))
if ch==1:
  calculate =q*10
elif ch== 2 :
  calculate=q*50
elif ch==3:
  calculate=q*20
elif ch==4:
  calculate=q*25
print("total amount = ",calculate)

Welcome to Hotel TAJ
1.Idly   - 10/-/n 2.Dosa   - 50/-/n 3.Puri   -20/-
 4.vada   -25/-
enter the order=1
enter the quantity=2
total amount =  20

In [42]:
math = 45
science = 23
social = 28
marksList = [math , science , social]
print(marksList)

[45, 23, 28]

In [44]:
print(marksList)
print(marksList[0])
print(marksList[-1])

[45, 23, 28]
45
28